In [1]:
#This is a data-dig test bench on laptop with jupyter, check out at 20230408 2257

import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

from sqlalchemy import create_engine

source_df = pd.read_csv(".\datadig\exp\exp1.csv")
print(source_df)

          日期        业务类型   笔数         交易金额       收入       成本
0   20230310    网关与支付单报送  588    514361.36  3282.95  1034.59
1   20230310     跨境人民币付款    7   2584404.70  2165.22   250.00
2   20230310     跨境人民币收款    4  18960768.32  4413.77     0.00
3   20230311    网关与支付单报送  774    163472.02  1018.21   332.24
4   20230312    网关与支付单报送  419    102350.41   672.91   210.13
..       ...         ...  ...          ...      ...      ...
59  20230330     跨境人民币收款    5  26848886.40  9064.04     0.00
60  20230330  跨境付款(离岸换汇)    1    481188.00  5705.65   215.25
61  20230331    网关与支付单报送  672    212862.56  1390.75   428.17
62  20230331     跨境人民币付款   13   4858342.90  3637.05   778.62
63  20230331     跨境人民币收款    4  22273473.12  6980.73     0.00

[64 rows x 6 columns]

In [ ]:
#connect to pgdb and use sql to get data

import psycopg2
# Connect to PostgreSQL database
pg_conn = psycopg2.connect(
    host="10.66.5.20",
    database="analysis_db",
    user="data_analysis",
    password="data_analysis"
)

# SQL query to extract data from PostgreSQL
pg_query = "select total_trans_amt, total_income_amt, total_cost_amt, total_refund_amt, data_source from anl_newpay_management_summary where data_source = '010003' and source_trans_date = '20230404';"

# Use pandas to read PostgreSQL data into a dataframe
pg_df_so = pd.read_sql(pg_query, pg_conn)

pg_df_so.head()

It can also use sqlalchemy to connect database, and use sql to get data into frame
It's a hint below:

In [ ]:
#推荐使用SQLAlchemy，需要先安装SQLAlchemy库
#新版本的pandas库中con参数使用sqlalchemy库创建的create_engine对象 。创建create_engine对象(格式类似于URL地址)
#
'''
# import necessary packages
import pandas
import psycopg2
from sqlalchemy import create_engine
  
# establish connection with the database
engine = create_engine(
    "dialect+driver//username:password@hostname:portnumber/databasename")
  
# read the pandas dataframe
data = pandas.read_csv("path to dataset")
  
# connect the pandas dataframe with postgresql table
data.to_sql('loan_data', engine, if_exists='replace')
'''
#from sqlalchemy import create_engine
#import psycopg2
#import pandas as pd
#from IPython.display import display

#pg db config
PG_HOST = '10.66.5.20'
PG_PORT = '5432'
PG_USER = 'data_analysis'
PG_PASSWD = 'data_analysis'
PG_DB = 'analysis_db'

url = f"postgresql://{PG_USER}:{PG_PASSWD}@{PG_HOST}:{PG_PORT}/{PG_DB}"

#engine = create_engine(url, pool_size = 50, echo=False)
engine = create_engine(url)

# SQL query to extract data from PostgreSQL
pg_query = "select source_trans_date, total_trans_amt, total_income_amt, total_cost_amt, total_refund_amt, data_source from anl_newpay_management_summary where data_source = '010003' and source_trans_date in ('20230401','20230402','20230403','20230404');"

# Use pandas to read PostgreSQL data into a dataframe
pg_df = pd.read_sql(pg_query, engine)

# Print the dataframe
#print(pg_df)
#pg_df.tail()
display(pg_df)

It can also create a def of course...

In [12]:
#dataframe version 1
#source dataframe

source_df = source_df.rename(columns={u'日期': '日期', u'业务类型': '业务类型', u'笔数': '交易笔数', u'交易金额': '交易金额', u'收入': '收入', u'成本': '成本'})
source_df['毛利'] = source_df['收入'] - source_df['成本'] # Add a new column for gross profit
#display(source_df)

table_cross = pd.pivot_table(source_df, values=[u'交易金额', u'交易笔数', u'收入', u'成本', '毛利'], index=[ u'日期', u'业务类型'])
display(table_cross)

# 查找全部所有业务类型，以每天不全缺失的业务类型，最后其他的列补0
all_types = table_cross.index.get_level_values('业务类型').unique()
all_dates = table_cross.index.get_level_values('日期').unique()
table_cross = table_cross.reindex(index=pd.MultiIndex.from_product([all_dates, all_types]), fill_value=0)
display(table_cross)

'''
# 用pivot_table方法将日期和业务类型作为index调整数据
order1_df = pd.pivot_table(source_df, index=['日期', '业务类型'])

# 将日期从字符转换为时间格式
order1_df['日期'] = pd.to_datetime(order1_df['日期'])

# 查找全部所有业务类型，以每天不全缺失的业务类型，最后其他的列补0
all_types = order1_df.index.get_level_values('业务类型').unique()
all_dates = order1_df.index.get_level_values('日期').unique()
order1_df = order1_df.reindex(index=pd.MultiIndex.from_product([all_dates, all_types]), fill_value=0)

# 分别再按照日期与业务类型进行排序
order1_df = order1_df.sort_values(by=['日期', '业务类型'])



order1_df = (
    source_df.pivot_table(index=['日期', '业务类型'])
             .assign(日期=lambda x: pd.to_datetime(x['日期']))
             .reset_index()
             .pivot(index='日期', columns='业务类型', values='销售额')
             .fillna(0)
             .sort_index()
             .sort_index(axis=1)
)


display(order1_df)
'''

                     交易笔数         交易金额       成本       收入       毛利
日期       业务类型
20230310 网关与支付单报送     588    514361.36  1034.59  3282.95  2248.36
         跨境人民币付款        7   2584404.70   250.00  2165.22  1915.22
         跨境人民币收款        4  18960768.32     0.00  4413.77  4413.77
20230311 网关与支付单报送     774    163472.02   332.24  1018.21   685.97
20230312 网关与支付单报送     419    102350.41   210.13   672.91   462.78
...                   ...          ...      ...      ...      ...
20230330 跨境人民币收款        5  26848886.40     0.00  9064.04  9064.04
         跨境付款(离岸换汇)     1    481188.00   215.25  5705.65  5490.40
20230331 网关与支付单报送     672    212862.56   428.17  1390.75   962.58
         跨境人民币付款       13   4858342.90   778.62  3637.05  2858.43
         跨境人民币收款        4  22273473.12     0.00  6980.73  6980.73

[64 rows x 5 columns]

                     交易笔数         交易金额       成本       收入       毛利
日期       业务类型
20230310 网关与支付单报送     588    514361.36  1034.59  3282.95  2248.36
         跨境人民币付款        7   2584404.70   250.00  2165.22  1915.22
         跨境人民币收款        4  18960768.32     0.00  4413.77  4413.77
         跨境付款(离岸换汇)     0         0.00     0.00     0.00     0.00
20230311 网关与支付单报送     774    163472.02   332.24  1018.21   685.97
...                   ...          ...      ...      ...      ...
20230330 跨境付款(离岸换汇)     1    481188.00   215.25  5705.65  5490.40
20230331 网关与支付单报送     672    212862.56   428.17  1390.75   962.58
         跨境人民币付款       13   4858342.90   778.62  3637.05  2858.43
         跨境人民币收款        4  22273473.12     0.00  6980.73  6980.73
         跨境付款(离岸换汇)     0         0.00     0.00     0.00     0.00

[88 rows x 5 columns]

"\n# 用pivot_table方法将日期和业务类型作为index调整数据\norder1_df = pd.pivot_table(source_df, index=['日期', '业务类型'])\n\n# 将日期从字符转换为时间格式\norder1_df['日期'] = pd.to_datetime(order1_df['日期'])\n\n# 查找全部所有业务类型，以每天不全缺失的业务类型，最后其他的列补0\nall_types = order1_df.index.get_level_values('业务类型').unique()\nall_dates = order1_df.index.get_level_values('日期').unique()\norder1_df = order1_df.reindex(index=pd.MultiIndex.from_product([all_dates, all_types]), fill_value=0)\n\n# 分别再按照日期与业务类型进行排序\norder1_df = order1_df.sort_values(by=['日期', '业务类型'])\n\n\n\norder1_df = (\n    source_df.pivot_table(index=['日期', '业务类型'])\n             .assign(日期=lambda x: pd.to_datetime(x['日期']))\n             .reset_index()\n             .pivot(index='日期', columns='业务类型', values='销售额')\n             .fillna(0)\n             .sort_index()\n             .sort_index(axis=1)\n)\n\n\ndisplay(order1_df)\n"

In [21]:
#dataframe version 2

#table_cross_v2 = pd.pivot_table(source_df, values=[u'交易金额', u'交易笔数', u'收入', u'成本', '毛利'], index=[ u'日期', u'业务类型'])
#table_cross_2 = pd.pivot_table(table_cross.reset_index(), values=[u'交易金额', u'交易笔数', u'收入', u'成本', '毛利'], index=[ u'日期'], columns=['业务类型'], aggfunc=sum)
table_cross_2_1 = pd.pivot_table(table_cross.reset_index(), values=[u'交易金额'], index=[ u'日期'], columns=['业务类型'])
display(table_cross_2_1)

               交易金额
业务类型       网关与支付单报送     跨境人民币付款      跨境人民币收款 跨境付款(离岸换汇)
日期
20230310  514361.36  2584404.70  18960768.32       0.00
20230311  163472.02        0.00         0.00       0.00
20230312  102350.41        0.00         0.00       0.00
20230313  176900.27  6527124.01  29327240.00  232151.38
20230314  185706.32  2579032.45  14156215.70       0.00
20230315  261790.16   978133.93  36117938.01       0.00
20230316  199109.04  3451229.44  30473300.00  601081.61
20230317  164434.71  2799947.85  15352940.00       0.00
20230318  180129.00        0.00         0.00       0.00
20230319   93788.19        0.00         0.00       0.00
20230320  146208.01  3097576.95  12440047.15   80255.60
20230321   99805.94  2116624.29  29184468.14  910328.50
20230322  202172.10   984847.46  38026395.81  708569.51
20230323  129992.51  6600297.06  13907000.00   59880.95
20230324   86429.43  1224191.20  23669213.43       0.00
20230325  228196.46        0.00         0.00       0.00
20230326  208010.29        0.00         0.00       0.00
20230327  159124.58  6770820.87  21029855.08  199780.40
20230328  211365.48  1554861.46  39933826.44   71953.00
20230329  120629.81   850351.46  52663798.04  495049.50
20230330  197882.38  2297008.28  26848886.40  481188.00
20230331  212862.56  4858342.90  22273473.12       0.00

In [35]:
table_cross_2_2 = pd.pivot_table(table_cross.reset_index(), values=[u'交易笔数', u'交易金额', u'收入', u'成本', '毛利'], index=[ u'日期'], aggfunc=sum)
display(table_cross_2_2)

          交易笔数         交易金额       成本        收入        毛利
日期
20230310   599  22059534.38  1284.59   9861.94   8577.35
20230311   774    163472.02   332.24   1018.21    685.97
20230312   419    102350.41   210.13    672.91    462.78
20230313   680  36263415.66  1211.48  15839.48  14628.00
20230314   819  16920954.47   973.74   7321.65   6347.91
20230315  1201  37357862.10   822.73   9558.72   8735.99
20230316   774  34724720.09  1314.19  16943.77  15629.58
20230317   595  18317322.56   893.05   8391.53   7498.48
20230318   823    180129.00   364.37   1016.36    651.99
20230319   350     93788.19   190.02    597.94    407.92
20230320   627  15764087.71  1013.69   6313.37   5299.68
20230321   533  32311226.87   988.60  17721.39  16732.79
20230322   849  39921984.88   965.81  17629.87  16664.06
20230323   498  20697170.52  1027.54  10265.67   9238.13
20230324   573  24979834.06   571.79   8657.06   8085.27
20230325  1013    228196.46   460.95   1344.49    883.54
20230326   801    208010.29   418.85   1066.54    647.69
20230327  1328  28159580.93  1542.47  14322.75  12780.28
20230328   902  41772006.38  1047.68  16028.75  14981.07
20230329   649  54129828.81   730.98  18662.04  17931.06
20230330   643  29824965.06  1024.10  17461.60  16437.50
20230331   689  27344678.58  1206.79  12008.53  10801.74

In [59]:
table_cross_2_3 = pd.concat([table_cross_2_1, table_cross_2_2], axis=1)
display(table_cross_2_3)

,"(交易金额, 网关与支付单报送)","(交易金额, 跨境人民币付款)","(交易金额, 跨境人民币收款)","(交易金额, 跨境付款(离岸换汇))",交易笔数,交易金额,成本,收入,毛利
日期,,,,,,,,,
20230310,514361.36,2584404.70,18960768.32,0.00,599,22059534.38,1284.59,9861.94,8577.35
20230311,163472.02,0.00,0.00,0.00,774,163472.02,332.24,1018.21,685.97
20230312,102350.41,0.00,0.00,0.00,419,102350.41,210.13,672.91,462.78
20230313,176900.27,6527124.01,29327240.00,232151.38,680,36263415.66,1211.48,15839.48,14628.00
20230314,185706.32,2579032.45,14156215.70,0.00,819,16920954.47,973.74,7321.65,6347.91
20230315,261790.16,978133.93,36117938.01,0.00,1201,37357862.10,822.73,9558.72,8735.99
20230316,199109.04,3451229.44,30473300.00,601081.61,774,34724720.09,1314.19,16943.77,15629.58
20230317,164434.71,2799947.85,15352940.00,0.00,595,18317322.56,893.05,8391.53,7498.48
20230318,180129.00,0.00,0.00,0.00,823,180129.00,364.37,1016.36,651.99
20230319,93788.19,0.00,0.00,0.00,350,93788.19,190.02,597.94,407.92
20230320,146208.01,3097576.95,12440047.15,80255.60,627,15764087.71,1013.69,6313.37,5299.68
20230321,99805.94,2116624.29,29184468.14,910328.50,533,32311226.87,988.60,17721.39,16732.79
20230322,202172.10,984847.46,38026395.81,708569.51,849,39921984.88,965.81,17629.87,16664.06
20230323,129992.51,6600297.06,13907000.00,59880.95,498,20697170.52,1027.54,10265.67,9238.13
20230324,86429.43,1224191.20,23669213.43,0.00,573,24979834.06,571.79,8657.06,8085.27
20230325,228196.46,0.00,0.00,0.00,1013,228196.46,460.95,1344.49,883.54
20230326,208010.29,0.00,0.00,0.00,801,208010.29,418.85,1066.54,647.69
20230327,159124.58,6770820.87,21029855.08,199780.40,1328,28159580.93,1542.47,14322.75,12780.28
20230328,211365.48,1554861.46,39933826.44,71953.00,902,41772006.38,1047.68,16028.75,14981.07
20230329,120629.81,850351.46,52663798.04,495049.50,649,54129828.81,730.98,18662.04,17931.06
20230330,197882.38,2297008.28,26848886.40,481188.00,643,29824965.06,1024.10,17461.60,16437.50
20230331,212862.56,4858342.90,22273473.12,0.00,689,27344678.58,1206.79,12008.53,10801.74

In [60]:
#table_cross_2_3 = table_cross_2_3.reindex(columns=[u'笔数', u'交易量', '网关与支付单报送', '跨境人民币付款', '跨境人民币收款', '跨境付款(离岸换汇)', u'收入', u'成本', '毛利'])

columns = list(table_cross_2_3)
print(columns)

table_cross_2_3 = table_cross_2_3.rename(columns={u'(交易金额, 网关与支付单报送)': '网关与支付单报送', u'(交易金额, 跨境人民币付款)': '跨境人民币付款', u'(交易金额, 跨境人民币收款)': '跨境人民币收款', u'(交易金额, 跨境付款(离岸换汇))': '跨境付款(离岸换汇)', u'交易笔数': '笔数', u'交易金额': '交易量'})
columns = list(table_cross_2_3)
print(columns)

#It seems doesn't change, could be some charset problem...

[('交易金额', '网关与支付单报送'), ('交易金额', '跨境人民币付款'), ('交易金额', '跨境人民币收款'), ('交易金额', '跨境付款(离岸换汇)'), '交易笔数', '交易金额', '成本', '收入', '毛利']
[('交易金额', '网关与支付单报送'), ('交易金额', '跨境人民币付款'), ('交易金额', '跨境人民币收款'), ('交易金额', '跨境付款(离岸换汇)'), '笔数', '交易量', '成本', '收入', '毛利']

In [61]:
#table_cross_2_3 = table_cross_2_3.rename(columns={'(交易金额, 网关与支付单报送)': '网关与支付单报送'})
#table_cross_2_4 = table_cross_2_3.rename(columns={'\(交易金额, 网关与支付单报送\)': '网关与支付单报送'})
#table_cross_2_4.columns = table_cross_2_4.columns.str.replace(r"\(|\)", "")

#cols = list(table_cross_2_4)
#print(cols)

col = table_cross_2_3.columns
display(col)

#table_cross_2_3.columns = list("'网关与支付单报送''跨境人民币付款''跨境人民币收款''跨境付款(离岸换汇)''笔数''交易量''成本''收入''毛利'")
#col = table_cross_2_3.columns
#display(col)
#display(table_cross_2_3)

Index([  ('交易金额', '网关与支付单报送'),    ('交易金额', '跨境人民币付款'),    ('交易金额', '跨境人民币收款'),
       ('交易金额', '跨境付款(离岸换汇)'),                   '笔数',                  '交易量',
                         '成本',                   '收入',                   '毛利'],
      dtype='object')