pandas相关
dataframe是一种类似表格类型的数据结构，可以读取csv文件，也可以读取excel文件，也可以读取json文件，也可以读取xml文件，还可以直接读取数据库查询sql

In [5]:
#pandas  
import pandas as pd
import numpy as np  #numpy的作用，是另一种数据进行处理的包

#读取纯文本，读取CSV，使用默认的标题行、逗号分隔符
fpath = '../datadig/exp/exp1.csv'

#pd.read_csv(fpath, header=None, sep=',')
rating = pd.read_csv(fpath)

#查看前几行数据
rating.head()

         日期      业务类型   笔数         交易金额       收入       成本
0  20230310  网关与支付单报送  588    514361.36  3282.95  1034.59
1  20230310   跨境人民币付款    7   2584404.70  2165.22   250.00
2  20230310   跨境人民币收款    4  18960768.32  4413.77     0.00
3  20230311  网关与支付单报送  774    163472.02  1018.21   332.24
4  20230312  网关与支付单报送  419    102350.41   672.91   210.13

In [6]:
#查看数据的形状
rating.shape

(64, 6)

In [7]:
#查看数据的列名
rating.columns

Index(['日期', '业务类型', '笔数', '交易金额', '收入', '成本'], dtype='object')

In [8]:
#查看数据的index
rating.index

RangeIndex(start=0, stop=64, step=1)

In [9]:
#查看每列的数据类型
rating.dtypes

日期        int64
业务类型     object
笔数        int64
交易金额    float64
收入      float64
成本      float64
dtype: object

In [ ]:
#读取txt文件，自己指定分隔符、列名
#fpath_txt = ''

In [ ]:
#读取数据库，执行sql读取

DataFrame Series
二维数据，整个表格，多行多列
    每列可以是不同的值类型
    既有行索引index，同时也有列索引columns
    可以被看作是由Series组成的字典

In [4]:
# Generate a 3x5 array of random values
data = np.random.rand(5, 3)

# Convert the array to a DataFrame
df = pd.DataFrame(data)

# Print the resulting DataFrame
print(df)

          0         1         2
0  0.643991  0.405476  0.486482
1  0.372211  0.170597  0.347323
2  0.741033  0.955641  0.650891
3  0.751115  0.042190  0.590722
4  0.284118  0.496735  0.667779

In [12]:
#生成指定dataframe
data1 = {
    'state': ['AL', 'AK', 'AZ', 'AR'],
    'year' : [2010, 2011, 2012, 2013],
    'pop' : [1000, 1001, 1002, 1003] 
}
df1 = pd.DataFrame(data1)
df1

  state  year   pop
0    AL  2010  1000
1    AK  2011  1001
2    AZ  2012  1002
3    AR  2013  1003

In [13]:
df1.index
df1.columns

Index(['state', 'year', 'pop'], dtype='object')

In [15]:
#查询一列
df1['year']

0    2010
1    2011
2    2012
3    2013
Name: year, dtype: int64

In [16]:
type(df1['year'])

pandas.core.series.Series

In [18]:
#查询多列，结果为pd.dataframe
df1[['year','pop']]

   year   pop
0  2010  1000
1  2011  1001
2  2012  1002
3  2013  1003

In [19]:
type(df1[['year', 'pop']])

pandas.core.frame.DataFrame

In [20]:
#查询一行，结果为pd.series
df1.loc[0]

state      AL
year     2010
pop      1000
Name: 0, dtype: object